//------------------------------
// TYPOGRAPHY
//------------------------------
$text-size: 1.6rem;
$text-weight: 400;

$subtitle-size: 2.2rem;
$subtitle-weight: 500;

$title-size: 2.8rem;
$title-weight: 500;