@import '~assets/scss/misc';
@import '~assets/scss/colors';
@import '~assets/scss/typography';


.item {
  display: flex;
  margin-bottom: $spacing / 2;
  margin-right: $spacing;
  cursor: pointer;
  transition: all 0.2s;

  &:active {
    transition: all 0.2s;
    transform: scale(0.95);
  }
}

.thumbnail {
  width: 6rem;
  min-width: 6rem;
  height: 6rem;

  align-self: center;

  background-image: url('https://placeimg.com/60/60/nature?t=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}

.content {
  padding: 0 ($spacing / 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name {
  margin-bottom: $spacing / 2;
  font-size: $subtitle-size;
}