<div class="user-profile" *ngIf="userId">
  <div class="thumbnail"></div>
  <h2 class="name">{{firstName}} {{surname}}</h2>

  <hr class="separator">

  <div class="details">
    <span class="property" *ngIf="gender">{{ gender }}
      <span class="description">Gender</span>
    </span>

    <span class="property" *ngIf="age">{{ age }}
      <span class="description">Age</span>
    </span>
  </div>

  <ul class="friends-list">
    <h3 class="friends-list__title">Friends</h3>
    <app-friend-list-item
      *ngFor="let user of friendsList"
      [id]="user.id"
      [firstName]="user.firstName"
      [surname]="user.surname"
      [friends]="user.friends.length"
      (click)="getFriendsOfFriends(user.id)"
    ></app-friend-list-item>
    <p class="friends-list__no-suggested" *ngIf="friendsList.length === 0">No friends.</p>
  </ul>

  <ul class="friends-list">
    <h3 class="friends-list__title">{{ selectedFriend ? selectedFriend + "'s Friends (excluding own friends)" : "Click on a friend to display its friends"}}</h3>
    <app-friend-list-item
    *ngFor="let user of friendsOfFriends"
    [id]="user.id"
    [firstName]="user.firstName"
    [surname]="user.surname"
    [friends]="user.friends.length"
    ></app-friend-list-item>
  </ul>

  <ul class="friends-list">
    <h3 class="friends-list__title">Suggested Friends</h3>
    <app-friend-list-item
    *ngFor="let user of suggestedFriends"
    [id]="user.id"
    [firstName]="user.firstName"
    [surname]="user.surname"
    [friends]="user.friends.length"
    ></app-friend-list-item>
    <p class="friends-list__no-suggested" *ngIf="suggestedFriends.length === 0">No suggested friends.</p>
  </ul>
</div>

<div class="no-profile-selected" *ngIf="!userId">
  NO PROFILE SELECTED
</div>